h1 {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;color: orangered; text-transform: capitalize; font-size: 300%;}
h3 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Uode', Geneva, Verdana, sans-serif; color: orangered; text-transform: uppercase}
h6 {font-family: 'Times New Roman', Times, serif; text-align: center}
p {margin: 1cm;}
h5 {margin: 1cm;}
